<br><br><br>
<div id="products" class="mt-2 pt-3">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">  
        <h1>PRODUCTS LIST</h1>             
        <p class="secondary-text-color">Explore products of your choice...</p>
    </div> 
    <div class="container">
        <div class="card" *ngFor="let p of products">
            <img [src]="p.src" alt="image" class="card-image">
            <h2>{{p.name}} &nbsp;&nbsp;&nbsp;&nbsp;{{p.price}} </h2>
            <p>{{p.desc}}</p>

            <button (click)="viewProduct()">More Details</button>
        </div>
    </div>
</div>