<div class="nav">
	<div class="content">
        <img width="70" class="logo-img" alt="Products" src="assets/logo.png"/>
		<!-- <span class="site-title">PRODUCTS</span> -->
		<div class="links nav-items">
			<a href="/" title="Home">HOME</a>
            <!-- <a rel="noopener" href="/posts" title="Posts">POSTS</a> -->
            <a rel="noopener" href="/products" title="Products">PRODUCTS</a>
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
            <a><button id="mode" (click)="toggleTheme()" style="font-size: 14px; font-weight: 500;">{{themeText}}</button></a>
			<a rel="noopener" href="/" title="Logout" style="font-size: 25px; grid-gap: 0px !important;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
			<button *ngIf="currentUser" (click)="onSettings()" style="font-size: 20px; grid-gap: 0px !important;"><i class="fa fa-user-circle"></i></button>
			
		</div>

		<div class="profile" id="profile" [class.show]="isOpenMenu">
			<a  title="Profile" *ngIf="currentUser" (click)="onProfileSetting()">Profile</a>
		</div>

		<div class="menu" (click)="onMenu()">
			<input type="checkbox" hidden id="hamburger" />
			<label for="hamburger" [hidden]="isOpen">&#9776;</label>
			<label for="hamburger" [hidden]="!isOpen">&#10006;</label>
		</div>
		<div class="dropdown" id="dropdown" [class.show]="isOpen">
			<a href="/" title="Home">HOME</a>
            <a rel="noopener" href="/products" title="Products">PRODUCTS</a>
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
            <a rel="noopener" href="/" title="Logout" style="font-size: 30px;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
            <button id="mode" (click)="toggleTheme()">{{themeText}}</button>
			<!-- <button *ngIf="currentUser" (click)="onSettings()"><i class="fa fa-user-circle"></i></button> -->
			
		</div>
	</div>
</div>