<div class="nav">
	<div class="content">
        <a href="/" title="Products"><img width="70" class="logo-img" alt="Products" src="assets/logo.png"/></a>
		<div class="links nav-items">
			<a href="/" title="Home">HOME</a>
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="Signup" *ngIf="!currentUser">SIGNUP</a>
            <a><button id="mode" (click)="toggleTheme()" style="font-size: 14px; font-weight: 500;">{{themeText}}</button></a>
			<!-- <a rel="noopener" href="/" title="Logout" style="font-size: 25px; grid-gap: 0px !important;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a> -->
			<button *ngIf="currentUser" (click)="onSettings()" style="font-size: 20px; grid-gap: 0px !important;"><i class="fa fa-user-circle"></i> </button> 
			<span *ngIf="currentUser" style="margin-right: 10px;">Welcome {{username}}</span>
		</div>

		<div class="profile" id="profile" [class.show]="isOpenMenu">
			<a *ngIf="currentUser"><i style="font-size: 20px;" class="fa fa-envelope icon"></i> &nbsp;&nbsp; {{currentUser}}</a>
			<a title="Profile" *ngIf="currentUser" (click)="onProfileSetting()"><i style="font-size: 20px;" class="fa fa-user-circle icon"></i>&nbsp;&nbsp; PROFILE</a>			
			<a rel="noopener" href="/" title="Logout" *ngIf="currentUser" (click)="logout()"><i style="font-size: 20px;" class="fa fa-sign-out icon"></i>&nbsp;&nbsp; LOGOUT</a>
		</div>

		<div class="menu" (click)="onMenu()">
			<input type="checkbox" hidden id="hamburger" />
			<label for="hamburger" [hidden]="isOpen">&#9776;</label>
			<label for="hamburger" [hidden]="!isOpen">&#10006;</label>
		</div>
		<div class="dropdown" id="dropdown" [class.show]="isOpen">
			<a href="/" title="Home">HOME</a>
            <!-- <a rel="noopener" href="/" title="Products">PRODUCTS</a> -->
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="Signup" *ngIf="!currentUser">SIGNUP</a>
            <button id="mode" (click)="toggleTheme()"
			[ngClass]="{'light-mode': themeText === 'LIGHT', 'dark-mode' : themeText === 'DARK' }">{{themeText}}</button>
			<button *ngIf="currentUser" (click)="onSettings()" style="font-size: 20px; grid-gap: 0px !important;"><i class="fa fa-user-circle"></i></button>
			<span *ngIf="currentUser" style="margin-right: 10px;">Welcome {{username}}</span>
		</div>

		
	</div>
</div>