<div class="nav">
	<div class="content">
		<span>PRODUCTS</span>
		<div class="links nav-items">
			<a href="/" title="Home">HOME</a>
            <a rel="noopener" href="/posts" title="Products">PRODUCTS</a>
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
            <a rel="noopener" href="/" title="Logout" style="font-size: 30px;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
            <button id="mode" (click)="toggleTheme()">{{themeText}}</button>
		</div>

		<div class="menu" (click)="onMenu()">
			<input type="checkbox" hidden id="hamburger" />
			<label for="hamburger" [hidden]="isOpen">&#9776;</label>
			<label for="hamburger" [hidden]="!isOpen">&#10006;</label>
		</div>
		<div class="dropdown" id="dropdown" [class.show]="isOpen">
			<a href="/" title="Home">HOME</a>
            <a rel="noopener" href="/posts" title="Products">PRODUCTS</a>
            <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
            <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
            <a rel="noopener" href="/" title="Logout" style="font-size: 30px;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
            <button id="mode" (click)="toggleTheme()">{{themeText}}</button>
		</div>
	</div>
</div>


    <!-- <div class="spacer"></div>
    <a href="/" title="Home">HOME</a>
    <!-- <a href="/products-list" title="Products">PRODUCTS</a>
    <a rel="noopener" href="/posts" title="Products">PRODUCTS</a>
    <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
    <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
    <a rel="noopener" href="/" title="Logout" style="font-size: 30px;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
    <button id="mode" (click)="toggleTheme()">{{themeText}}</button> -->