
<div fxLayout="row" fxLayoutAlign="center center" class="h-100 container">
    <form [formGroup]="productForm" (ngSubmit)="onAddProduct()"
        style="background-color: #f3f3f3;" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60">
         <app-header 
             [icon]="'exit_to_app'" 
             [title]="'Add Product'" 
             [hasBgImage]="true" 
             [class]="'card-spacing'"></app-header>            
             <!-- <h3>ADD PRODUCT</h3><hr> -->
           <div class="card-inner" style="margin-top: -20px;">
                <div class="form-control">
                    <label>Name</label>
                    <input type="text" formControlName="name">
                    <div *ngIf="productForm.controls.name.errors?.required && productForm.controls.name.touched"><p>Required</p></div>
                </div>
                <br>
                <div class="form-control">
                    <label>Price</label>
                    <input type="text" formControlName="price">
                    <div *ngIf="productForm.controls.price.errors?.required && productForm.controls.price.touched"><p>Required</p></div>
                </div>
                <br>
                <div class="form-control">
                    <label>Description</label>
                    <input type="text" formControlName="description">
                    <div *ngIf="productForm.controls.description.errors?.required && productForm.controls.description.touched"><p>Required</p></div>
                </div>
                <br>
                <div class="form-control">
                    <label>Image Url</label>
                    <input type="text" formControlName="image">
                    <div *ngIf="productForm.controls.image.errors?.required && productForm.controls.image.touched"><p>Required</p></div>
                </div>

                <br><br>
                <div class="submit-button-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <br>
                    <button class="w-30 submit-button" type="submit" [disabled]="!productForm.valid">Add</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="w-30 cancel-button" (click)="cancel()">Cancel</button>
                </div> 
            </div>        
     </form>
     
</div>
