.content-header{
    color: #fff !important;
    width: 350px !important;
    text-align: center;
    img{
        width: 30px;
        height: 130px;
        border-radius: 50%;
    }
    h2{
        font-size: 36px;
        font-weight: 400;
        margin: 0;
        font-family: Roboto;
    } 
    h3{
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        font-family: Roboto;
    } 
    h4{
        font-size: 16px;
        font-weight: 300;
        max-width: 580px;
        text-align: center;
        margin: 0 auto;
    }
    &.bg-image{
        background-image: url("/assets/header-bg.png");     
        background-blend-mode: overlay;
        background-size: 600px; 
        background-color: #1976d2;
    }
    
}

@media screen and (min-width: 960px) {    
    .content-header{
        img{
            width: 150px;
            height: 150px;
        }
        h1{
            font-size: 48px;
        } 
        h4{
            font-size: 18px;
        }
        &.has-bg-image{
            background-size: 480px; 
        }
    }
}

@media only screen and (max-width: 400px){
    .container{
        width: 300px !important;
    }
}

