<!-- <div class="content" role="main"> -->
<app-navbar></app-navbar>
<!-- <div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <div style="width:30px"> </div>
  <span>PRODUCTS</span>
    <div class="spacer"></div>
    <a href="/" title="Home">HOME</a>
    <a rel="noopener" href="/posts" title="Products">PRODUCTS</a>
    <a rel="noopener" href="/login" title="Login" *ngIf="!currentUser">LOGIN</a>
    <a rel="noopener" href="/login/signup" title="posts" *ngIf="!currentUser">SIGNUP</a>
    <a rel="noopener" href="/" title="Logout" style="font-size: 30px;" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out icon"></i></a>
    <button id="mode" (click)="toggleTheme()">{{themeText}}</button>
  </div> -->

<router-outlet></router-outlet>
