
<div fxLayout="row" fxLayoutAlign="center center" class="h-100 container">
    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()"
        style="background-color: #f3f3f3;" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60">
             <h1>EDIT POST</h1><hr>
           <div class="card-inner" style="margin-top: -20px;">
                <div class="form-control">
                    <label>Title</label>
                    <input type="text" formControlName="title">
                    <div *ngIf="postForm.controls.title.errors?.required && postForm.controls.title.touched">Required</div>
                </div>
                <br>
                <div class="form-control">
                    <label>Description</label>
                    <input type="text" formControlName="description">
                    <div *ngIf="postForm.controls.description.errors?.required && postForm.controls.description.touched">Required</div>
                </div>
                <br>
                <div class="submit-button-container">
                    <br>
                    <button class="w-100 submit-button" type="submit" [disabled]="!postForm.valid">Update Post</button>
                    <!-- <button class="w-100 submit-button" type="submit" [disabled]="!postForm.valid">Add Post</button> -->
                </div> 
            </div>        
     </form>
     
</div>

<!-- 
<div>
    <div>
        <h3>Update Post</h3>
        <hr>
        <form [formGroup]="postForm" (ngSubmit) = "onUpdatePost()">
            <div>
                <label>Title</label>
                <input type="text" formControlName="title">
                <div *ngIf="postForm.controls.title.errors?.required && postForm.controls.title.touched">Required</div>
            </div>
            <div>
                <label>Description</label>
                <input type="text" formControlName="description">
                <div *ngIf="postForm.controls.description.errors?.required && postForm.controls.description.touched">Required</div>
            </div>
            <div>
                <button type="submit" [disabled]="!postForm.valid">Update Post</button>
            </div>
        </form>
    </div>
</div> -->