<br><br>
<div class="outer"> 
    <div class="list-col1">
        <div id="products" class="mt-2 pt-3">
            <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">  
                <h1>PRODUCTS LIST</h1>             
                <p class="secondary-text-color">Explore products of your choice...</p>
            </div> 
            <div style="margin-bottom: 10px;">
                <!-- <button [routerLink]="['/products/add']">Add Product</button> -->
                <button (click)="openAddDialog()">Add Product</button>
            </div>
            <br><br>
            <div class="container">
                <div class="card" *ngFor="let p of products | async">
                    <!-- <img [src]="p.src" alt="image" class="card-image"> -->
                    <p>{{p.id}}</p>
                    <h2>{{p.name}} &nbsp;&nbsp;&nbsp;&nbsp;{{p.price}} </h2>
                    <p>{{p.description}}</p>
                    <button (click)="openUpdateDialog(p)">Update</button>&nbsp;&nbsp; <!--[routerLink]="['edit', p.id]"-->
                    <button (click)="deleteProduct(p.id)">Delete</button> 
                </div>
            </div>
            <div class="card" *ngIf="NoProducts">
                <h1>No Products added</h1>
            </div>
        </div>
    </div>
</div>

<div class="list-col2">
    <div style="width:30%"></div>
    <router-outlet></router-outlet>
    <div style="width:30%"></div>
</div>