
.icon {
    padding: 5px;
    background: #283593;
    color: white;
    min-width: 50px;
    text-align: center;
  }
.form-control{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    input{
        min-width: 74%;
    }
}  

.container{
    margin-top: 50px !important;
}

@media only screen and (max-width: 780px){
    .container{
        margin-top:100px;
    }
}