/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

body{
    margin: 0;
}
.ngx-pagination .current {
    background: #283593 !important;
}
//Container Position & Spacing
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%; 
}

.h-100{
    height: 100%;
}

.card-spacing{
    padding-top: 24px;
    padding-bottom: 24px;
}

.card-inner{
    padding: 24px;
    text-align: center;

    .link{
        margin: 30px 0 30px 0;
    }
}

.w-100{
    width: 100% !important;
}
//FORM CSS LOGIN & SIGNUP
.form-control{
    
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    label{
        float:left;
    }
    input{
        float:right;    
    }
    
}
.error-message{
    float:left;
    font-size:13px;
    color:red;
    margin-top: -10px;
    padding-bottom: 10px;
}

.submit-button-container{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    .w-30{
        width:30%;
    }
    .w-40{
        width:40%;
    }

    .submit-button {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        border-radius: 4px;
        color: #ffffff;
        background-color: #283593;
        text-transform: uppercase;
        padding: 10px;
        box-shadow: none;
        outline: none;
        border: none;
        cursor: pointer;
      }
      .cancel-button {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        border-radius: 4px;
        color: #fff;
        background-color: #f44336;
        text-transform: uppercase;
        padding: 10px;
        box-shadow: none;
        outline: none;
        border: none;
        cursor: pointer;
      }
}


button{
    cursor: pointer;
    background-color: #283593;
    color :#fff;
    border-radius: 20px;
    font-size: 16px;
    padding:5px 7px 5px 7px;
    border: 0px;
    
} 

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    vertical-align: middle;
}
