<br><br><br><br>

<div class="outer"> 
    <div class="list-col1">
        <h3>Posts List</h3>
        <div>
            <a href="#" button [routerLink]="['/posts/add']">Add Post</a>
        </div>
        <table style="width:100%" class="table table-striped">
            <thead>
                <tr style="text-align:left;">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of posts | async">
                    <td>{{p.id}}</td>
                    <td>{{p.title}}</td>
                    <td>{{p.description}}</td>
                    <td>
                        <a href="" button [routerLink]="['edit', p.id]"> Update</a> &nbsp;&nbsp;
                        <a href="" button (click)="deletePost(p.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    <div class="list-col2">
        <router-outlet></router-outlet>
    </div>
</div>