.footer{    
    height: 50px;
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: #1976d2;
    color:#fff;
    
    .footer-content{
        padding-top: 5px;
        padding-left:10px;
    }
}